ami-options:
  us-east-1:
    amazon:
      '2013.03.1':
        64-bit: {ebs: ami-3275ee5b, instance: ami-fc75ee95}

vpc-options:
  region: us-east-1
  cidr: 10.16.0.0/16
  enable-dns-support: true
  enable-dns-hostnames: true
  ## override vpc-name with -n or --name CLI arguments
  vpc-name: minimal0
  ## define access/secret keys here or fall back to boto configuration
  ## https://code.google.com/p/boto/wiki/BotoConfig
  #aws-access-key-id: AKI3LS8SAMPLE
  #aws-secret-access-key: d3b07384dsample495y8ku4958yfhm495ydhxy65

instance-defaults:
  availability-zone: us-east-1c
  ## override key-name with -k or --key CLI arguments
  key-name: sshkeyname
  os-release: amazon
  os-version: 2013.03.1
  instance-store: ebs
  instance-arch: 64-bit
  instance-type: m1.small
  iam-role: S3InstanceReadAccess
  count: 1

dhcp-options:
  domain-name: ec2.internal
  domain-name-servers: AmazonProvidedDNS

availability-zones:
- name: us-east-1c
  networks: { external: 10.16.64.0/24, internal: 10.16.65.0/24 }

security-groups:
- name: default
  description: "default security group"
  rules:
  - { protocol: tcp,  from-port: 22, to-port: 22, source: self }
  - { protocol: icmp, from-port: -1, to-port: -1, source: 0.0.0.0/0 }

- name: web
  description: "web services group"
  rules:
  - { protocol: tcp, from-port:  80, to-port:  80, source: 0.0.0.0/0 }
  - { protocol: tcp, from-port: 443, to-port: 443, source: 0.0.0.0/0 }

- name: ep
  description: "ep services group"
  rules:
  - { protocol:  tcp, from-port:   22, to-port:   22, source: 0.0.0.0/0 }
  - { protocol:  tcp, from-port: 1194, to-port: 1194, source: 0.0.0.0/0 }

load-balancers:
- name: ext-lb0
  instances: [ web-1c ]
  security-groups: [ default, web ]
  availability-zones: [ us-east-1c ]
  subnets: [ external ]
  scheme: internet-facing
  listeners:
  - [ 80, 80, 'http']

instances:
- name: ep0
  instance-type: m1.small
  private-ip: 10.16.64.10
  public-ip: 123.234.123.234
  availability-zone: us-east-1c
  security-groups: [ default, ep ]
  user-data-file: cloudinit/ep0.yaml
  nat-gateway: true

- name: web-1c
  role: internal
  security-groups: [ web, default ]
  user-data-file: cloudinit/web.yaml
  instance-type: t1.micro
  instance-store: ebs
  availability-zone: us-east-1c
  count: 2
